PORT = 8000
MONGODB_URI=mongodb+srv://rudanihitbharatbhai_db_user:Your-Password@cluster0.juchfqg.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=KJH@!29jd8LmP$8xQz7^difbsrkgubdrhvbseefehigt8nkcdsb5kjbd$kjdfnsur^kjbfj&jdbbeshf?jdbehjdbfe>huui
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=x7@Q!m2*&^Lp9$Tz4&Ab8*Ny1^Rw69jd8LmP$8xQz7^difbsrkkcdsb5kjbd$k
REFRESH_TOKEN_EXPIRY=10d